@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind utilities;
@theme {
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #dbfffd;
    --color-secondary: #30b2a5;
    --color-accent: #ff0c00;

    --animate-fade-in-scale: fade-in-scale 1.5s ease-out;
    --animate-fade-only: fade-only 1.5s ease-out;
    @keyframes fade-only {
        0% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in-scale {
        0% {
            opacity: 0.4;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.customShadow {
    box-shadow:
        inset 5px 5px 10px #ffffff8e,
        inset -5px -5px 10px #0000008e;
}

.customShadow:hover {
    box-shadow: 0px 0px 10px 5px #ffffff;
}

.ImageHighlight:hover {
    box-shadow: 0px 0px 10px 5px #000000;
    filter: brightness(0.4);
}

input,
select,
textarea {
    border: 1px solid var(--color-secondary);
}
